<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Climáticos en Tiempo Real</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: rgb(211, 211, 211);
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 90vw;
            max-width: 1200px;
            gap: 20px;
        }

        .grafico {
            flex: 0 0 45%;
            background-color: #e7e7e7;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            max-height: 400px;
            transition: all 0.3s ease;
            cursor: pointer;
            transition: width 0.8s ease-in-out, height 0.8s ease-in-out, top 0.8s ease-in-out, left 0.8s ease-in-out;
        }

        h4 {
            text-align: center;
            margin: 10px 0;
            font-size: 1.2em;
        }

        canvas {
            width: 100%;
            height: auto;
            max-height: 350px;
        }

        /* Clase para agrandar el gráfico */
        .agrandado {
            max-width: 80vw;
            max-height: 80vh;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 80vw;
            height: 80vh;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            overflow: auto;
            cursor: zoom-out;
            
        }

        /* Ocultar los demás gráficos cuando uno esté agrandado */
        .oculto {
            display: none;
        }
        
        .filter-container{
            margin-bottom: 40px;
        }
        header{
            height: 100px;
            width: 100dvw;
            background-color: aliceblue;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            
        }
        header a {
            text-decoration: none;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">Historial de datos</a>
        <a href="/mostrar_tiempo_real/">Lectura de datos en directo</a>
    </header>
    <h1>Gráfica de Datos Climatológicos</h1>
    <!-- Botones para controlar la lectura en tiempo real -->
    <button id="start-reading">Iniciar Lectura</button>
    <button id="stop-reading" disabled>Detener Lectura</button>
   
    <div class="container">
        <div class="grafico" id="temperatura">
            <h4>Temperatura (°C)</h4>
            <canvas id="graficoTemperatura"></canvas>
        </div>

        <div class="grafico" id="humedad">
            <h4>Humedad (%)</h4>
            <canvas id="graficoHumedad"></canvas>
        </div>

        <div class="grafico" id="presion">
            <h4>Presión (hPa)</h4>
            <canvas id="graficoPresion"></canvas>
        </div>

        <div class="grafico" id="viento">
            <h4>Velocidad del Viento (km/h)</h4>
            <canvas id="graficoViento"></canvas>
        </div>
    </div>

    <script>
        // Datos originales
        const _fechas = 0
        const _temperaturas = 0
        const _humedades = 0
        const _presiones = 0
        const _velocidades_viento = 0

        let chartTemperatura, chartHumedad, chartPresion, chartViento;

        function crearGraficos(fechas, temperaturas, humedades, presiones, velocidades_viento) {
            const ctxTemperatura = document.getElementById('graficoTemperatura').getContext('2d');
            const ctxHumedad = document.getElementById('graficoHumedad').getContext('2d');
            const ctxPresion = document.getElementById('graficoPresion').getContext('2d');
            const ctxViento = document.getElementById('graficoViento').getContext('2d');

            chartTemperatura = new Chart(ctxTemperatura, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Temperatura (°C)',
                        data: temperaturas,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        fill: true,
                        borderWidth: 0.5,
                        tension: 0.4
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha'
                            },
                            ticks: {
                                maxRotation: 45,  // Rota las etiquetas para que se ajusten mejor
                                minRotation: 30,
                                autoSkip: true,  // Omite etiquetas automáticamente si hay muchas
                                maxTicksLimit: 10 // Limita el número máximo de etiquetas visibles
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Temperatura (°C)'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });


            chartHumedad = new Chart(ctxHumedad, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Humedad (%)',
                        data: humedades,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        fill: true,
                        borderWidth: 1,
                        tension: 0.4
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha'
                            },
                            ticks: {
                                maxRotation: 45,  // Rota las etiquetas para que se ajusten mejor
                                minRotation: 30,
                                autoSkip: true,  // Omite etiquetas automáticamente si hay muchas
                                maxTicksLimit: 10 // Limita el número máximo de etiquetas visibles
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Humedad (%)'
                            },
                            min:0,
                            max:100,
                            ticks: {
                                stepSize:10,
                                callback: function(value, index, values) {
                                    return value + '%';
                                }
                            }
                        }
                    }
                }
            });

            chartPresion = new Chart(ctxPresion, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Presión (hPa)',
                        data: presiones,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true,
                        borderWidth: 1,
                        tension: 0.4
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha'
                            },
                            ticks: {
                                maxRotation: 45,  // Rota las etiquetas para que se ajusten mejor
                                minRotation: 30,
                                autoSkip: true,  // Omite etiquetas automáticamente si hay muchas
                                maxTicksLimit: 10 // Limita el número máximo de etiquetas visibles
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Presión (hPa)'
                            },
                            min: 900, // Valor mínimo del eje Y (900 hPa)
                            max: 1100, // Valor máximo del eje Y (1100 hPa)
                            ticks: {
                                stepSize: 10, // Separación entre las marcas (cada 10 hPa)
                                callback: function(value, index, values) {
                                    return value ;
                                }
                            }
                        }
                    }
                }
            });

            chartViento = new Chart(ctxViento, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Velocidad del Viento (km/h)',
                        data: velocidades_viento,
                        borderColor: 'rgba(153, 102, 255, 1)',
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        fill: true,
                        borderWidth: 1,
                        tension: 0.4
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha'
                            },
                            ticks: {
                                maxRotation: 45,  // Rota las etiquetas para que se ajusten mejor
                                minRotation: 30,
                                autoSkip: true,  // Omite etiquetas automáticamente si hay muchas
                                maxTicksLimit: 10 // Limita el número máximo de etiquetas visibles
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Velocidad (km/h)'
                            },
                            min: 5,
                            max:35,
                            ticks: {
                                stepSize:1,
                                callback:function(value,index,values) {
                                    return value + 'Km/h';
                                }
                            }
                        }
                    }
                }
            });
        }

         

        
        //comienzo de logica para agrandar grafico
        const graficos = document.querySelectorAll('.grafico');
    let graficoAgrandado = null; 

    graficos.forEach((s) => {
        s.addEventListener('click', () => {
            if (s.classList.contains('agrandado')) {
                s.classList.remove('agrandado');
                graficos.forEach(grafico => grafico.classList.remove('oculto')); 
                graficoAgrandado = null; 
            } else {
                if (graficoAgrandado) {
                    graficoAgrandado.classList.remove('agrandado'); 
                }
                s.classList.add('agrandado');
                graficoAgrandado = s;
                graficos.forEach(grafico => {
                    if (grafico !== s) {
                        grafico.classList.add('oculto');
                    }
                });
            }
        });
    });

//finalizacion de logica para agrandar grafico

//comienzo de logica  para actualizar los datos
function datos_climaticos() {
            fetch('/obtener_datos/')
                .then(response => response.json())
                .then(datos =>  actualizarGraficos(datos.fechas,datos.temperaturas,datos.humedades,datos.presiones,datos.velocidades_viento))
                .catch(error => console.log('Fetch error:', error));        
        }

        function actualizarGraficos(fechas, temperaturas, humedades, presiones, velocidades_viento) {
            chartTemperatura.data.labels = fechas;
            chartTemperatura.data.datasets[0].data = temperaturas;
            chartTemperatura.update();

            chartHumedad.data.labels = fechas;
            chartHumedad.data.datasets[0].data = humedades;
            chartHumedad.update();

            chartPresion.data.labels = fechas;
            chartPresion.data.datasets[0].data = presiones;
            chartPresion.update();

            chartViento.data.labels = fechas;
            chartViento.data.datasets[0].data = velocidades_viento;
            chartViento.update();
        }

        crearGraficos(_fechas, _temperaturas, _humedades, _presiones, _velocidades_viento);
        //fin de logica para actualizar los datos

        //comienzo de logica para obtener y para las transmicion de  los datos

        let updateInterval = null;

        // Función para iniciar la lectura y la actualización del gráfico
        document.getElementById('start-reading').addEventListener('click', function() {
            fetch('/iniciar/')
                .then(response => response.json())
                .then(data => {
                    console.log('Lectura iniciada:', data);
                    // Iniciar la actualización del gráfico cada 5 segundos
                    if (!updateInterval) {
                        updateInterval = setInterval(datos_climaticos, 5000);
                    }
                    // Deshabilitar el botón de inicio y habilitar el de detener
                    document.getElementById('start-reading').disabled = true;
                    document.getElementById('stop-reading').disabled = false;
                });
        });

        // Función para detener la lectura y la actualización del gráfico
        document.getElementById('stop-reading').addEventListener('click', function() {
            fetch('/detener/')
                .then(response => response.json())
                .then(data => {
                    console.log('Lectura detenida:', data);
                    // Detener la actualización del gráfico
                    if (updateInterval) {
                        clearInterval(updateInterval);
                        updateInterval = null;
                    }
                    // Habilitar el botón de inicio y deshabilitar el de detener
                    document.getElementById('start-reading').disabled = false;
                    document.getElementById('stop-reading').disabled = true;
                });
        });
        //final de la logica para obtener los datos
    </script>
</body>
</html>


